[submodule "openvpn/main/openssl"]
	path = openvpn/main/openssl
	url = ssh://git@github.com/cypherpunkengineering/android-openssl
[submodule "openvpn/main/openvpn"]
	path = openvpn/main/openvpn
	url = ssh://git@github.com/cypherpunkengineering/android-openvpn
[submodule "openvpn/main/asio"]
	path = openvpn/main/asio
	url = ssh://git@github.com/cypherpunkengineering/asio
[submodule "openvpn/main/openvpn3"]
	path = openvpn/main/openvpn3
	url = ssh://git@github.com/cypherpunkengineering/openvpn3
