<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cypherpunk.android.vpn">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".CypherpunkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <receiver android:name=".ui.main.CypherpunkBootReceiver">
            <intent-filter android:priority="9001">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.CypherpunkLaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:taskAffinity=".ui.main.CypherpunkLaunchVPN"
            android:theme="@android:style/Theme.NoDisplay">
            tools:ignore="ExportedActivity">
        </activity>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.main.CypherpunkTileService"
            android:value="true"
            android:label="@string/qs_tile_title"
            android:icon="@drawable/ic_quick"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <activity
            android:name=".ui.signin.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.signin.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.IntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.GetPremiumActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.ListPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.LocalPortActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.ApplicationSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.NetworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.status.StatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.EditEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.EditPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.settings.UpgradePlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".ui.region.LocationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
