<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cypherpunk.privacy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-feature
        android:name="android.hardware.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:name=".CypherpunkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CypherPunk"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>

        <receiver android:name=".ui.main.CypherpunkBootReceiver">
            <intent-filter android:priority="9001">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.main.CypherpunkWifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.main.MainActivity"
            android:label=""
            android:theme="@style/CypherPunk.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.CypherpunkLaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:taskAffinity=".ui.main.CypherpunkLaunchVPN"
            android:theme="@android:style/Theme.Dialog">
            tools:ignore="ExportedActivity">
        </activity>

        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <service
            android:name=".ui.main.CypherpunkTileService"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false"/>
        </service>

        <activity
            android:name=".ui.startup.LoginActivity"
            android:theme="@style/CypherPunk.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".ui.startup.SignUpActivity"
            android:theme="@style/CypherPunk.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".ui.startup.IdentifyEmailActivity"
            android:theme="@style/CypherPunk.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".ui.startup.ConfirmationEmailActivity"
            android:theme="@style/CypherPunk.NoActionBar"/>
        <activity
            android:name=".ui.startup.TutorialActivity"
            android:theme="@style/CypherPunk.NoActionBar"/>

        <!-- cypherpunk settings -->
        <activity
            android:name=".ui.settings.NetworkActivity"
            android:label="@string/title_activity_network"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.settings.InternetKillSwitchActivity"
            android:label="@string/title_activity_internet_kill_switch"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.settings.TunnelModeActivity"
            android:label="@string/title_activity_tunnel_mode"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.settings.RemotePortActivity"
            android:label="@string/title_activity_remote_port"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.settings.SplitTunnelActivity"
            android:label="@string/title_activity_split_tunnel"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>

        <activity
            android:name=".ui.account.UpgradePlanActivity"
            android:label="@string/title_activity_upgrade_plan"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.account.EditEmailActivity"
            android:label="@string/title_activity_edit_email"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.account.EditPasswordActivity"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/CypherPunk.DialogWhenLarge.NoActionBar"/>
        <activity
            android:name=".ui.account.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/CypherPunk.NoActionBar"/>
    </application>

</manifest>
